<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Centrale Dynamics</title>
    <style>
        table, th, td {
        padding: 10px;
        border: 1px solid black;
        border-collapse: collapse;
        }
    </style>
</head>
<body>
    <h1>Centrale Dynamics</h1>
    <table>
        <thead>
            <tr>
                <th>Titre</th>
                <th>Status</th>
                <th>Demande</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Compartiment 1</td>
                <td>vide/plein</td>
                <td><a href="/ask/1">Demander 1</a></td>
            </tr>
            <tr>
                <td>Compartiment 2</td>
                <td>vide/plein</td>
                <td><a href="/ask/2">Demander 2</a></td>
            </tr>
        </tbody>
    </table>
    
</body>
</html>